@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="column">
        <div class="row">
            <a href="GetRequest" class="getButton btn btn-block">Get</a>
        </div>
        <div class="row">
            <a href="PostRequest" class="postButton btn btn-block">Post</a>
        </div>
    </div>
   
    
</div>
