@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="column">
        <div class="row">
            <a href="/Home/GetRequest" class="getButton btn btn-block">Get/api/speaker</a>
        </div>
        <div class="row">
            <a href="/Home/PostRequest" class="postButton btn btn-block">Post/api/speaker/{Id}</a>
        </div>
    </div>
</div>
